.show{
    background-color: rgb(226, 138, 167);
    padding: 10px;
    border: solid 1px #fad6d6;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  .card-body{
    margin-bottom: 30px;
    background-color: rgba(161, 165, 187, 0.808);
    
  
  }
  .card-text{
    font-weight: 570;
    font-size: 18px;
  }
  .overlay{
    border-radius: 15px;
    margin-top:20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 15px;
    background-color: rgba(238, 238, 238 ,0.96);
    box-shadow: 4px 4px 4px 4px black;
   
    
  }
  h1{
    color: black;
    text-align: center;
  }
  .content{
    background-color: rgba(166, 153, 241, 0.96);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: auto;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 3px 4px black;
    border-radius: 0.5%;
  }