.show{
    background-color: rgb(221, 88, 133);
    padding: 10px;
    border: solid 1px #fad6d6;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  .card-body{
    margin-bottom: 30px;
    background-color:rgba(100, 78, 78, 0.374);
  }
  .card-text{
    font-weight: 570;
    font-size: 18px;
  }
  