.form-control{
    color: white;
    background: transparent;
    font-weight: 570;
  }
  label{
    color: white;
    font-weight: 600;
  }
  .container-fluid{
    background-color: rgba(161, 165, 187, 0.808);
    border-radius: 15px;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
  h2{
      color: white;
  }